<link href="~/Content/countdown-clock.css" rel="stylesheet" />
<script src="~/Scripts/common/countdown-clock.js"></script>

<div class="example">
    <div id="flipdown" class="flipdown">
    </div>
</div>

